@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700|Lato:300,400,400i,700,900");
body, p, ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .nav {
    background-color: unset;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
    background-image: linear-gradient(#000000, transparent);
  }
}

.nav .container {
  display: -ms-grid;
  display: grid;
  grid: auto auto / 15% 70% 15%;
  justify-items: center;
}

@media (min-width: 768px) {
  .nav .container {
    grid: auto / auto auto;
  }
}

.nav__logo {
  width: 80px;
  padding: 10px 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media (min-width: 768px) {
  .nav__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (min-width: 1000px) {
  .nav__logo {
    width: 166px;
  }
}

.nav__logo__img {
  width: 100%;
}

.nav__burger {
  color: #ffffff;
  font-size: 36px;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.nav__burger:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav__burger {
    display: none;
  }
}

.nav__list {
  text-align: center;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: none;
}

@media (min-width: 768px) {
  .nav__list {
    display: block !important;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin: auto;
  }
}

.nav__item {
  font-family: 'Gentium Book Basic', serif;
  font-size: 17px;
  padding: 14px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  color: #ffffff;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.nav__item:hover {
  cursor: pointer;
  color: #cc9900;
}

@media (min-width: 768px) {
  .nav__item {
    width: auto;
    display: inline-block;
  }
}

.nav__item--icons:hover {
  cursor: unset;
  color: unset;
}

.nav__item--icons i {
  font-size: 20px;
  padding: 0 10px;
  color: #ffffff;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.nav__item--icons i:hover {
  color: #cc9900;
}

@media (min-width: 768px) {
  .nav__item--icons i {
    padding: 0 5px;
  }
}

.header {
  position: relative;
}

.header .slider {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: black;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@media (min-width: 768px) {
  .header .slider {
    height: 700px;
  }
}

.header .slider__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .slider__img-1 {
  background-image: url("../img/slider_1.jpg");
}

.header .slider__img-2 {
  background-image: url("../img/slider_2.jpg");
}

.header .content {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.header .content__title {
  font-family: 'Gentium Book Basic', serif;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  padding: 0 20px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@media (min-width: 768px) {
  .header .content__title {
    font-size: 70px;
  }
}

@media (min-width: 1000px) {
  .header .content__title {
    font-size: 90px;
  }
}

.header .content__divider {
  width: 240px;
  display: block;
  margin: auto;
  padding: 10px 0;
}

.header .content__btn {
  border: none;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 18px;
  padding: 10px 26px;
  margin: 5px 15px;
}

.header .content__btn:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 1000px) {
  .header .content__btn {
    padding: 14px 42px;
  }
}

.about {
  background: url("../img/bg_white.jpg") repeat;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .about .container {
    display: -ms-grid;
    display: grid;
    grid: auto auto / 40% 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

.about .content {
  text-align: center;
}

@media (min-width: 768px) {
  .about .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.about .content__title {
  font-family: 'Gentium Book Basic', serif;
  font-size: 30px;
  font-weight: 700;
  color: #cc9900;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@media (min-width: 768px) {
  .about .content__title {
    font-size: 36px;
  }
}

.about .content__divider {
  width: 254px;
  padding: 10px 0;
}

.about .content__text {
  font-size: 16px;
  color: #4c4c4c;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .about .content__text {
    padding: 0 15px;
    padding-bottom: 10px;
  }
}

.about .autograf {
  display: block;
  margin: auto;
  width: 80%;
}

@media (min-width: 768px) {
  .about .autograf {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 70%;
  }
}

.about .plate {
  display: block;
  margin: auto;
  width: 80%;
}

@media (min-width: 768px) {
  .about .plate {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 100%;
  }
}

.ingredients {
  background: url("../img/bg_ingredients.jpg") no-repeat;
  background-size: cover;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .ingredients {
    padding: 80px 0;
  }
}

@media (min-width: 768px) {
  .ingredients .container {
    display: -ms-grid;
    display: grid;
    grid: auto / 40% 60%;
  }
}

@media (min-width: 1200px) {
  .ingredients .container {
    display: -ms-grid;
    display: grid;
    grid: auto / 50% 50%;
  }
}

.ingredients .wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15% 10%;
}

@media (min-width: 768px) {
  .ingredients .wrapper {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media (min-width: 1000px) {
  .ingredients .wrapper {
    padding: 15% 15%;
  }
}

.ingredients .content {
  text-align: center;
}

.ingredients .content__title {
  font-family: 'Gentium Book Basic', serif;
  font-size: 30px;
  font-weight: 700;
  color: #cc9900;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  color: #ffffff;
}

@media (min-width: 768px) {
  .ingredients .content__title {
    font-size: 36px;
  }
}

.ingredients .content__divider {
  width: 254px !important;
  padding: 10px 0;
  margin: auto;
}

.ingredients .content__text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
}

.ingredients .content__controls {
  text-align: center;
}

.ingredients .content__control {
  display: inline-block;
  padding: 10px;
}

.ingredients .content__control__img {
  width: 100px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.ingredients .content__control__img:hover {
  cursor: pointer;
}

.ingredients .content__control .active {
  -webkit-box-shadow: 0 0 0 5pt #cc9900;
          box-shadow: 0 0 0 5pt #cc9900;
}

.menu {
  background: url("../img/bg_white.jpg") repeat;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .menu .container {
    /*  display: grid;
            grid: auto / 35% 35%;
            gap:5% 15%;
            justify-content: center; */
    -webkit-column-count: 2;
    column-count: 2;
  }
}

.menu .category {
  text-align: center;
  page-break-inside: avoid;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .menu .category {
    padding: 0 10%;
  }
}

.menu .category__title {
  font-family: 'Gentium Book Basic', serif;
  font-size: 30px;
  font-weight: 700;
  color: #cc9900;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@media (min-width: 768px) {
  .menu .category__title {
    font-size: 36px;
  }
}

.menu .category__divider {
  width: 254px;
  padding: 10px 0;
}

.menu .category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.menu .category__item__name {
  font-family: 'Gentium Book Basic', serif;
  font-size: 21px;
  color: #cc9900;
  padding: 5px 0;
}

.menu .category__item__price {
  font-family: 'Gentium Book Basic', serif;
  font-size: 21px;
  color: #cc9900;
}

.menu .category__item__desc {
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4c;
  text-align: left;
  border-top: 1px solid #cc9900;
  width: 100%;
  padding: 10px 0;
}

.menu .category__item--special {
  border: 1px solid #cc9900;
  position: relative;
}

.menu .category__item--special:before {
  content: 'Special';
  background-color: #cc9900;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 10px;
  position: absolute;
  top: -23px;
  right: -1px;
}

.reviews {
  background: url("../img/bg_review.jpg") no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.reviews .wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10% 10%;
  text-align: center;
}

@media (min-width: 768px) {
  .reviews .wrapper {
    width: 50%;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .reviews .wrapper {
    width: 40%;
  }
}

.reviews .content__title {
  font-family: 'Gentium Book Basic', serif;
  font-size: 30px;
  font-weight: 700;
  color: #cc9900;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  color: #ffffff;
}

@media (min-width: 768px) {
  .reviews .content__title {
    font-size: 36px;
  }
}

.reviews .content__divider {
  width: 254px;
  padding: 10px 0;
}

.reviews .review-item__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

@media (min-width: 768px) {
  .reviews .review-item__text {
    font-size: 22px;
  }
}

.reviews .review-item__name {
  color: #ffffff;
  padding: 20px 0;
  font-size: 15px;
}

.reviews .controls__left, .reviews .controls__right {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  margin: 0 50px;
}

.reviews .controls__left:hover, .reviews .controls__right:hover {
  color: white;
}

.reservations {
  background: url("../img/bg_white.jpg") repeat;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .reservations .container {
    display: -ms-grid;
    display: grid;
    grid: auto / 48% 48%;
    grid-column-gap: 4%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1000px) {
  .reservations .container {
    grid: auto / 23% 23% 46%;
    grid-column-gap: 4%;
  }
}

.reservations .res-img {
  display: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .reservations .res-img--1 {
    background-image: url("../img/reservation_1.jpg");
    display: block;
  }
}

@media (min-width: 1000px) {
  .reservations .res-img--2 {
    background-image: url("../img/reservation_2.jpg");
    display: block;
  }
}

.reservations .content {
  text-align: center;
  width: 100%;
}

@media (min-width: 1000px) {
  .reservations .content {
    width: 80%;
  }
}

.reservations .content__title {
  font-family: 'Gentium Book Basic', serif;
  font-size: 30px;
  font-weight: 700;
  color: #cc9900;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@media (min-width: 768px) {
  .reservations .content__title {
    font-size: 36px;
  }
}

.reservations .content__divider {
  width: 254px;
  padding: 10px 0;
}

.reservations .content__text {
  font-size: 16px;
  color: #4c4c4c;
}

.reservations .content__form {
  width: 100%;
  text-align: left;
  padding: 20px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reservations .content__form label {
  color: #cc9900;
  font-weight: 900;
  font-size: 14px;
  display: block;
  padding: 10px 15px;
}

.reservations .content__form ::-webkit-input-placeholder {
  font-size: 16px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

.reservations .content__form :-ms-input-placeholder {
  font-size: 16px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

.reservations .content__form ::-ms-input-placeholder {
  font-size: 16px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

.reservations .content__form ::placeholder {
  font-size: 16px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

.reservations .content__form__name, .reservations .content__form__email, .reservations .content__form__date, .reservations .content__form__number {
  font-family: 'Lato', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reservations .content__form__name:focus, .reservations .content__form__email:focus, .reservations .content__form__date:focus, .reservations .content__form__number:focus {
  border-color: #cc9900;
}

.reservations .content__form input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 18px;
}

.reservations .content__form input[type="date"]:hover {
  cursor: pointer;
}

.reservations .content__form__btn {
  border: none;
  background-color: #cc9900;
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  margin: 30px 0 0 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.reservations .content__form__btn:hover {
  cursor: pointer;
  background-color: rgba(204, 153, 0, 0.7);
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 40px 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    grid: auto / 33.33% 33.33% 33.33%;
  }
}

.footer .content {
  text-align: center;
}

.footer .content__title {
  font-family: 'Gentium Book Basic', serif;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@media (min-width: 768px) {
  .footer .content__title {
    font-size: 25px;
  }
}

.footer .content__divider {
  width: 205px;
  padding: 10px 0;
}

.footer .content__text {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}

.footer .content__icon {
  color: #ffffff;
  font-size: 20px;
  padding: 0 5px 20px 5px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.footer .content__icon:hover {
  color: #cc9900;
}
/*# sourceMappingURL=main.css.map */