// FONTS
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700|Lato:300,400,400i,700,900');

// SCSS
@import "./variables";
@import "./mixins";
@import "./reset";

///////// NAV //////////

.nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba($black, .7);

    @media (min-width:768px){
        background-color:unset;
        background: linear-gradient($black, 60%, transparent);
    }
    .container{
        display: grid;
        grid: auto auto / 15% 70% 15%;
        justify-items: center;

        @media (min-width:768px){
            grid: auto / auto auto;
        }
    }
    &__logo{
        width:100px;
        padding:10px 0;
        grid-row: 1/2; grid-column: 2/3;
        text-align: center;

        @media (min-width:768px){
            grid-row: 1/2; grid-column: 1/2;
        }
        @media (min-width:1000px){
            width:166px;
        }
        &__img{
            width:100%;
            transition: all .5s ease-out;
        }
    }
    &__burger{
        color:$white;
        font-size: 36px;
        margin:auto;
        grid-row: 1/2; grid-column: 3/4;
        &:hover{
            cursor: pointer;
        }

        @media (min-width:768px){
           display: none;
        }
    }
    &__list{
        text-align: center;
        width:100%;
        grid-row: 2/3; grid-column: 1/4;
        display: none;

        @media (min-width:768px){
            display: block !important;
            grid-row: 1/2; grid-column: 2/3;
            margin:auto;
        }
    }
    &__item{
        font-family: 'Gentium Book Basic', serif;
        font-size: 17px;
        padding: 14px 10px;
        box-sizing: border-box;
        width:100%;
        color:$white;
        transition: all .5s ease-out;
        &:hover {
            cursor: pointer;
            color: $primary;
        }

        @media (min-width:768px){
            width:auto;
            display: inline-block;
           
        }
        &--icons{
            &:hover {
                cursor: unset;
                color: unset;
            }
            i{
                font-size:20px;
                padding:0 10px;
                box-sizing: border-box;
                color:$white;
                transition: all .5s ease-out;
                &:hover{
                    color: $primary;
                }
                @media (min-width:768px){
                    padding:0 5px;
                }
            }
        }
    }
}

///////// HEADER //////////

.header{
    position: relative;
    .slider{
        position: relative;
        width:100%;
        height:600px;
        background-color:black;
        transition: all .5s ease-out;

        @media (min-width:768px){
            height:700px;
        }
        &__img{
            position: absolute;
            top:0; left:0; right:0; bottom:0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &__img-1 {
            background-image: url('../img/slider_1.jpg');
        }
        &__img-2{
            background-image: url('../img/slider_2.jpg');
        }
    }
    .content{
        position: absolute;
        top:55%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100%;

        &__title{
            font-family: 'Gentium Book Basic', serif;
            font-size:50px;
            font-weight: 700;
            color: $white;
            padding:0 20px;
            transition: all .5s ease-out;

            @media (min-width:768px){
                font-size:70px;
            }
            @media (min-width:1000px){
                font-size:90px;
            }
        }
        &__divider{
            width:240px;
            display: block;
            margin:auto;
            padding:10px 0;
        }
        &__btn{
            border:none;
            border: 1px solid $white;
            background-color: rgba($white, .1);
            color: $white;
            font-size:18px;
            padding:10px 26px;
            margin:5px 15px;
            &:hover{
                cursor: pointer;
                border: 1px solid $white;
                background-color: rgba($white, .4);
            }

            @media (min-width:1000px){
                padding:14px 42px;
            }
        }
    }
}

///////// ABOUT SECTION //////////

.about{
    background: url('../img/bg_white.jpg') repeat;
    padding:40px 0;
    .container{
        @media (min-width:768px){
            display: grid;
            grid: auto auto / 40% 50%;
            justify-content: center;
            align-items: end;
        }
    }
    .content{
        text-align: center;

        @media (min-width:768px){
            grid-row: 1/2; grid-column: 1/2;
        }
        &__title{
            @include content-title;
        }
        &__divider{
            width:254px;
            padding:10px 0;
        }
        &__text{
            font-size:16px;
            color:$text;
            padding-bottom:10px;

            @media (min-width:768px){
                padding:0 15px;
                padding-bottom:10px;
            }
        }
    }
    .autograf{
        display: block;
        margin:auto;
        width:80%;

        @media (min-width:768px){
            grid-row: 2/3; grid-column: 1/2;
            width:70%;
        }
    }
    .plate{
        display: block;
        margin:auto;
        width:80%;

        @media (min-width:768px){
            grid-row: 1/3; grid-column: 2/3;
            width:100%;
        }
    }
}

///////// INGREDIENTS SECTION //////////

.ingredients {
    background: url('../img/bg_ingredients.jpg') no-repeat;
    background-size: cover;
    padding:40px 0;

    @media (min-width:768px){
        padding:80px 0;
    }
    .container{
        @media (min-width:768px){
            display: grid;
            grid: auto / 40% 60%;
        }
        @media (min-width:1200px){
            display: grid;
            grid: auto / 50% 50%;
        }
    }
    .wrapper{
        background-color: rgba($black, .7);
        padding:15% 10%;

        @media (min-width:768px){
            grid-row: 1/2; grid-column: 2/3;
        }
        @media (min-width:1000px){
            padding:15% 15%;
        }
    }
    .content{
        text-align: center;
        &__item{}
        &__title{
            @include content-title;
            color:$white;
        }
        &__divider{
            width:254px !important;
            padding:10px 0;
            margin:auto;
        }
        &__text{
            font-size:16px;
            color: rgba($white, .8);
            padding-bottom:20px;
        }
    }
    .content__controls{
        text-align: center;
    }
    .content__control{
        display: inline-block;
        padding:10px;
        &__img{
            width:100px;
            border-radius: 50%;
            box-sizing: border-box;
            transition: all .4s ease-out;
            &:hover{
                cursor: pointer;
            }
        }
        .active{
            box-shadow: 0 0 0 4pt $white;
        }
    }
}

///////// MENU SECTION //////////

.menu {
    background: url('../img/bg_white.jpg') repeat;
    padding:40px 0;
    .container{
        @media (min-width:768px){
           /*  display: grid;
            grid: auto / 35% 35%;
            gap:5% 15%;
            justify-content: center; */
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;   
        }
    }
    .category{
        text-align: center;
        page-break-inside: avoid;
        margin-bottom: 20px;
           
        @media (min-width:768px){
            padding:0 10%;
        }

        &__title{
            @include content-title;
        }
        &__divider{
            width:254px;
            padding:10px 0;
        }
        &__item{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding:10px;
            &__name{
                font-family: 'Gentium Book Basic', serif;
                font-size:21px;
                color: $primary;
                padding:5px 0;
            }
            &__price{
                font-family: 'Gentium Book Basic', serif;
                font-size:21px;
                color: $primary;
            }
            &__desc{
                font-size:16px;
                font-weight: 400;
                color: $text;
                text-align: left;
                border-top:1px solid $primary;
                width:100%;
                padding:10px 0;
            }
            &--special{
                border: 1px solid $primary;
                position: relative;
                &:before{
                    content:'Special';
                    background-color: $primary;
                    color:$white;
                    font-size:14px;
                    padding:3px 10px;
                    position: absolute;
                    top:-23px;
                    right:-1px;
                }
            }
        }
    }
}

///////// REVIEWS SECTION //////////

.reviews {
    background: url('../img/bg_review.jpg') no-repeat;
    background-size: cover;
    padding:40px 0;
    .wrapper{
        background-color: rgba($black, .7);
        padding:10% 10%;
        text-align: center;

        @media (min-width:768px){
            width: 50%;
            margin: auto;
        }
        @media (min-width:1000px){
            width: 40%;
        }
    }
    .content{
        &__title{
            @include content-title;
            color:$white;
        }
        &__divider{
            width:254px;
            padding:10px 0;
        }
    }
    .review-item{
        &__text{
            color: rgba($white, .8);
            font-size:18px;
            @media (min-width:768px){
                font-size:22px;
            }
        }
        &__name{
            color:$white;
            padding:20px 0;
            font-size:15px;
        }
    }
    .controls{
        .owl-nav{
        }
        &__left, &__right{
            font-size:50px;
            color: rgba($white, .4);
            transition: all .5s ease-out;
            margin: 0 50px;
            &:hover{
                color: rgba($white, 1); 
            }
        }
    }
}

///////// RESERVATIONS SECTION //////////

.reservations {
    background: url('../img/bg_white.jpg') repeat;
    padding:40px 0;

    .container{
        @media (min-width:768px){
            display: grid;
            grid: auto / 48% 48%;
            grid-column-gap: 4%;
            justify-items: center;
            align-items: center;
        }
        @media (min-width:1000px){  
            grid: auto / 23% 23% 46%;
            grid-column-gap: 4%;
        }
    }
    .res-img {
        display: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        &--1{
            @media (min-width:768px){
                background-image: url('../img/reservation_1.jpg');
                display: block;
            }
        }
        &--2{
            @media (min-width:1000px){
                background-image: url('../img/reservation_2.jpg');
                display: block;
            }
        }
    }

    .content{
        text-align: center;
        width:100%;

        @media (min-width:1000px){
           width:80%
        }
        &__title{
            @include content-title;
        }
        &__divider{
            width:254px;
            padding:10px 0;
        }
        &__text{
            font-size: 16px;
            color: $text;
        }
        &__form{
            width:100%;
            text-align: left;
            padding:20px 0 0 0;
            box-sizing: border-box;

            label{
                color: $primary;
                font-weight: 900;
                font-size:14px;
                display: block;
                padding:10px 15px;
            }
            ::placeholder{
                font-size:16px;
                font-style: italic;
                font-family: 'Lato', sans-serif;
            }
            &__name, &__email, &__date, &__number{
                font-family: 'Lato', sans-serif;
                border:1px solid rgba($black, .2);
                width:100%;
                font-size:16px;
                padding:10px 15px;
                box-sizing: border-box;
                &:focus{
                    border-color: $primary;
                }
            }
            input[type="date"]{
                &::-webkit-calendar-picker-indicator {
                    font-size: 18px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &__btn{
                border:none;
                background-color: $primary;
                color:$white;
                width:100%;
                font-size:16px;
                padding:10px 15px;
                margin:30px 0 0 0;
                transition: all .5s ease-out;
                &:hover{
                    cursor: pointer;
                    background-color: rgba($primary, .7)
                }
            }
        }
    }
}

///////// FOOTER SECTION //////////

.footer {
    background-color: rgba($black, .9);
    padding:40px 0;
    overflow: hidden;
    .container{
        @media (min-width:768px){
           display: grid;
           grid: auto / 33.33% 33.33% 33.33%;
        }
    }
    .content{
        text-align: center;
        &__title{
            font-family: 'Gentium Book Basic', serif;
            font-size:21px;
            font-weight: 700;
            color: $white;
            transition: all .5s ease-out;

            @media (min-width:768px){
                font-size:25px;
            }
        }
        &__divider{
            width:205px;
            padding:10px 0;
        }
        &__text{
            font-size: 16px;
            font-weight: 300;
            color: $white;
            width:80%;
            margin:auto;
            padding-bottom:20px;
        }
        &__icon{
            color:$white;
            font-size:20px;
            padding:0 5px 20px 5px;
            transition: all .5s ease-out;
            &:hover{
                color:$primary;
            }
        }
    }
}