
///////// content-title in sections //////////

@mixin content-title{
    font-family: 'Gentium Book Basic', serif;
    font-size:30px;
    font-weight: 700;
    color: $primary;
    transition: all .5s ease-out;

    @media (min-width:768px){
        font-size:36px;
    }
}